@model OODWebsite.HOCPHAN

@{
    ViewBag.Title = "Danh sách học phần";
    Layout = "~/Areas/NVPhongDaoTao/Views/Shared/_Layout.cshtml";
}

@*<h3>Are you sure you want to delete this?</h3>*@
<div class="Delete_hp">
    <h4>Xóa học phhần</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Mã học phần")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaHP)
        </dd>

        <dt>
            @Html.DisplayName("Tên học phần")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenHP)
        </dd>

        <dt>
            @Html.DisplayName("Số tín chỉ")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoTinChi)
        </dd>

        <dt>
            @Html.DisplayName("Mã số khoa")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaSoKhoa)
        </dd>

        <dt>
            @Html.DisplayName("Tuyên quyết")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TuyenQuyet)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Xóa" class="btn btn-primary" />
            @Html.ActionLink("Hủy", "DanhSachHP_GD", null, new { @class = "btn btn-default" })
        
    </div>
    }
</div>
